@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header ul li {
  margin-right: 1rem;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  color: black;
  background: #eee;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.header :global(.active),
.link:hover {
  background: #ddd;
}